@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");

:root {
    --background-color: #ffffff;
    --accent: #313131;
    --secondary: #f3b391;
    --text-color: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    color: black;
    padding: 2em 1em;
    margin: auto;
    margin-bottom: 10em;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.categories-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 0.25rem;
}

.categories-container button {
    border: solid 1px #313131;
    border-radius: 100px;
    background-color: transparent;
    padding: 0.5rem 1rem;
    min-width: 3rem;
}

.categories-container button:hover,
.categories-container button:focus {
    cursor: pointer;
    background-color: var(--accent);
    color: var(--background-color);
}

header h1 {
    font-size: 2em;
    margin: 0;
    font-family: "Sofia", serif;
    font-weight: 400;
    font-style: normal;
}

h1 {
    margin: 0;
}

main {
    width: 80%;
    margin: auto;
    overflow: hidden;
    min-height: 100vh;
    box-sizing: border-box;
    font-size: 0.9em;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-gap: 20px;
    padding: 1em;
}

.product-grid article img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.product-grid article {
    border-radius: 5px;
    aspect-ratio: 3/4;
    height: 100%;
    overflow: hidden;
}

.product-grid article div {
    height: 100%;
    overflow: hidden;
}

footer {
    background: var(--accent);
    color: var(--text-color);
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.title {
    font-size: 1em;
    text-align: left;
    text-overflow: ellipsis;
    max-height: 2em;
}

header .search {
    display: flex;
    align-items: center;
    border: solid 1px var(--accent);
    border-radius: 100px;
}

.search:focus-within {
    outline: solid 1px #000000;
}

.search input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    margin-right: 1em;
    background-color: transparent;
}

.search input:focus {
    outline: none;
}

.search input::placeholder {
    color: var(--accent);
}

.search svg {
    padding: 0.5rem;
}

.loader {
    color: var(--accent);
    position: absolute;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: loader 3s linear infinite;
}

@keyframes loader {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}